.bgc{
  background-color: #e7691d;
  height: 200rpx;

}
.couponimg1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40rpx;
  .couponimgtu1{
    margin: auto;
    width: 685rpx;
    height: 200rpx;
    }
}